.clients__section {
  min-height: 93px;
  display: flex;
  flex-direction: column;
  padding: 10px 15px 0 15px;
  border-radius: 20px;
  background: #ffffff;
  overflow: hidden;

  .clients__buttons {
    display: flex;
    margin: 0 -4px 0 -4px;
    padding: 0 0 3px 0;

    .clients__button {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 4px;
      border: 1px solid transparent;
      border-radius: 100%;
      background: transparent;
      user-select: none;
      cursor: pointer;

      &:hover {
        background: #E2EEFF;
        border: 1px solid #E2EEFF;
      }

      &:focus {
        background: #B5D3FF;
        border: 1px solid #B5D3FF;
      }
    }

    .add {
      &::after {
        content: '';
        width: 20px;
        height: 20px;
        background-image: url("/assets/add-default-client.svg");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    .add:disabled {
      &:hover {
        background: transparent;
        border: 1px solid transparent;
      }

      &:focus {
        background: transparent;
        border: 1px solid transparent;
      }

      &::after {
        background-image: url("/assets/add-disable-client.svg");
      }
    }

    .delete {
      &::after {
        content: '';
        width: 20px;
        height: 20px;
        background-image: url("/assets/delete-default-client.svg");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    .delete:disabled {
      &:hover {
        background: transparent;
        border: 1px solid transparent;
      }

      &:focus {
        background: transparent;
        border: 1px solid transparent;
      }

      &::after {
        background-image: url("/assets/delete-disable-client.svg");
      }
    }
  }

  .clients__table {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 192px);
    min-height: 47px;
    margin: 0 -15px;

    .clients__table-scroll {
      flex: 1;
      overflow: auto;
    }

    ::-webkit-scrollbar {
      width: 4px; /* Ширина всего элемента навигации */
    }
    ::-webkit-scrollbar-track {
      background: transparent; /* Цвет дорожки */
    }
    ::-webkit-scrollbar-thumb {
      background-color: #D7E1ED; /* Цвет бегунка */
      border-radius: 4px; /* Округление бегунка */
    }
  }
}
