.popup-update-client__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 50, 56, 32%);
}

.popup-update-client__content {
  background: #ffffff;
  margin: 16px;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 408px;
  position: relative;
}


